
html, body{
	margin:0;
	padding:0;
	border:0;
	outline:0;
}


.cart-total{ background:#E8E8E8}

.shopp,.cart-total{ 
	border:solid #ccc 1px; padding:8px; 
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px; font-size:12px;
	background:url(remove.png) center right no-repeat 5px;
	border-radius: 8px; 
	font-family:"LubalGraphBdBTBold",Tahoma; 
	margin-bottom:3px;
	width:260px;
	}
	
div.shopp span{  float:left;}	
div.shopp div.label{ width:130px; float:left; }		
div.shopp div.shopp-price{ width:70px; float:left;}
.quantity{ float:left; margin-top:-3px; width:20px;}
img.remove{float:right;cursor:pointer;}
.cart-total b{width:130px;}